<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ellsom.bbs.Mapper.CommentDOMapper">

    <resultMap id="DqCommentResult"
               type="com.ellsom.bbs.Pojo.Dmo.CommentDO">
        <id property="commentId" column="comment_id" jdbcType="BIGINT"/>
        <result property="articleId" column="article_id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="commentUserId" column="comment_userid" jdbcType="BIGINT"/>
        <result property="commentUserNickName" column="comment_usernickname" jdbcType="VARCHAR"/>
        <result property="commentUsername" column="comment_username" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="commentUserAvatar" column="comment_user_avatar" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="commentType" column="comment_type" jdbcType="CHAR"/>
        <result property="toUserId" column="to_user_id" jdbcType="BIGINT"/>
        <result property="toUsername" column="to_username" jdbcType="VARCHAR"/>
        <result property="toNickname" column="to_nickname" jdbcType="VARCHAR"/>
        <result property="toUserAvatar" column="to_user_avatar" jdbcType="VARCHAR"/>
        <result property="replyId" column="reply_id" jdbcType="BIGINT"/>
        <result property="rootId" column="root_id" jdbcType="BIGINT"/>
        <result property="childCommentNum" column="child_commentnum" jdbcType="BIGINT"/>
    </resultMap>


    <sql id="selectCommentDO">
        select *, (select count(*) from comment dq where comment.comment_id = dq.root_id) as child_commentnum
        from comment
    </sql>

    <select id="selectAllCommentDO"
            parameterType="com.ellsom.bbs.Pojo.Dmo.CommentDO"
            resultMap="DqCommentResult">
        <include refid="selectCommentDO"></include>
        <where>
            status = 0
            <if test="commentDO.commentId != null and commentDO.commentId != ''">
                AND comment_id = #{commentDO.commentId}
            </if>
            <if test="commentDO.articleId != null and commentDO.articleId != ''">
                AND article_id = #{commentDO.articleId}
            </if>
            <if test="commentDO.content != null and commentDO.content != ''">
                AND content like concat('%',#{commentDO.content},'%')
            </if>
            <if test="commentDO.commentUserId != null and commentDO.commentUserId != ''">
                AND comment_userid = #{commentDO.commentUserId}
            </if>
            <if test="commentDO.toUserId != null and commentDO.toUserId != ''">
                AND to_user_id = #{commentDO.toUserId}
            </if>
            <if test="commentDO.replyId != null and commentDO.replyId != ''">
                AND reply_id = #{commentDO.replyId}
            </if>
            <if test="commentDO.rootId != null and commentDO.rootId != ''">
                AND root_id = #{commentDO.rootId}
            </if>
        </where>
    </select>
</mapper>